body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.toggle-off.btn {
  background-color: red;
  color: white;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
  margin-top: 5px;
}

#myBar {
  width: 50%;
  height: 30px;
  background-color: #04AA6D;
  text-align: center;
  line-height: 30px;
  color: white;
}